/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


@font-face {
    font-family: 'Oswal-bold';
    src: url(Fonts/Oswald-Bold.ttf)
}


@font-face {
    font-family: 'Oswal-Medium';
    src: url(Fonts/Oswald-Medium.ttf)
}


@font-face {
    font-family: 'Oswal-Regular';
    src: url(Fonts/Oswald-Regular.ttf)
}

@font-face {
    font-family: 'Oswal-ligth';
    src: url(Fonts/Oswald-Light.ttf)
}

:root {
    --primary-color: #0f3e6d;
}

h1 {
    font-family: Oswal-bold
}

body {
    font-family: Oswal-Regular !important;
    font-size: 14px;
    background: #ececec !important;
}

/**colors**/
.ct-bg-primary {
    background: var(--primary-color) !important;
}

.ct-bg-secundary {
    background: #0d355d !important;
}

.ct-color-primary {
    color: #0f3e6d !important;
}

.btn-red {
    background: #ca3636 !important;
}

/**end color*/


.acent-color {
    color: #673AB7 !important;
}

.acent-background {
    background: #673AB7 !important;
}

.btn {
    border: none !important;
}

.btn-primary {
    background: #0f3e6d !important;
}

.btn-radius {
    border-radius: 40px !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    border: solid 1px var(--primary-color) !important;
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    margin-left: 3px !important;
    margin-right: 3px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-radius: 23px !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #fff;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.paginate_button {
    margin-left: 4px;
    cursor: pointer;
}

    .paginate_button .current {
        border: none !important;
    }


.nav-link-hovered:hover {
    background: #ffffff;
    color: black !important;
}

.text-hovered:hover {
    color: black !important;
}


.ct-bg-success {
    background: #43a259;
}

.ct-bg-danger {
    background: #e2824a !important;
}

/*show or hide element nav*/

@media (max-width: 750px) {
    #nav-side {
        display: none;
    }
}

.pendingToPay {
    overflow: hidden;
    overflow-y: scroll;
    height: 400px;
    font-size: 14px;
}

/**navbar*/
.navbar {
    background: #0f3e6d;
    color: #fff !important;
}
/**end navbar*/

/**sidebar*/
.sidebar {
    background: #0d355d !important;
}
/*end sidebar*/

/**profile*/


.userName {
    font-size: 13px;
    color: white;
    cursor: pointer;
}

    .userName:hover {
        font-size: 14px;
    }

.img-profile {
    border-radius: 50px;
    border: 3px solid #ea3b3b;
}
/*end profile**/

/**table*/
.table > thead {
    background: var(--primary-color) !important;
    color:#fff;
}
/**end table*/
