@model User
@{
    ViewData["Title"] = "AddToRole";
}



<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h1>Cambio de roles para el usuario @Model.FullName</h1>
                Correo: <span class="text-muted">@Model.UserName</span>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="row ">

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Roles del Usuario</h2>
                <ul class="list-group">
                    @foreach (var item in ViewBag.UserRols)
                    {
                        <li class="list-group-item">
                            @item <span class="ml-5 text-muted" style="cursor:pointer;" onclick="ShowSweetConfirmRemoveRoleDialog('@Model.Id','@item','/User','RemoveUserRole')">Remover</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Nuevo Rol</h2>
                <form asp-action="AddToRole">
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <select class="form-control" name="RoleId" asp-items="ViewBag.Rols"></select>
                        <button class="btn btn-success btn-block mt-2">Agregar</button>
                        <a asp-action="Index" asp-controller="ClientUser" class="btn btn-dark btn-block mt-2">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script src="~/js/Shared/httpRequest.js" asp-append-version="true"></script>
<partial name="_NotificationPartial" />