@model IEnumerable<IdentityRole>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row justify-content-between">
        <div class="col-xs-11 ">

            <h1><i class="fas fa-fw fa-user-secret"></i> Roles</h1>
        </div>

        <div class="col-xs-1">
            <a asp-action="Create" class="btn btn-primary btn-radius">Nuevo</a>
        </div>
        <div class="col-12">
        </div>
    </div>

</div>
<hr />

<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered data-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Rol</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rol in Model)
                    {

                        <tr>
                            <td>@rol.Name</td>

                            <td>No editable</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/js/Rol/main.js" asp-append-version="true"></script>
<partial name="_NotificationPartial" />