@model Models.ViewModels.ClientUsers.CreateUserViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo Cliente</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombres</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Apellidos</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Correo</label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Numero</label>
                <input asp-for="PhoneNumber" id="phoneNumber" class="form-control" required />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            @if (User.IsInRole(nameof(RolsAuthorization.Admin)))
            {
                <div class="form-group">
                    <label class="control-label">Rol</label>
                    <select asp-for="Rol" class="form-control">
                        <option value="" selected>Elija una opción</option>
                        <option value="@RolsAuthorization.ClientsUser">Cliente</option>
                        <option value="@RolsAuthorization.Admin" >Admin</option>
                    </select>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Regresar</a>
            </div>
        </form>
    </div>
</div>

<script src="~/js/ClientUser/index.js" asp-append-version="true"></script>